[defaults]
callback_plugins = callback_plugins
callbacks_enabled = confmgmt_changed_summary
callback_result_format = yaml
interpreter_python = auto_silent
retry_files_enabled = False
no_target_syslog = True
force_handlers = True

[colors]
error = bright red

[ssh_connection]
pipelining = True
control_path = ~/tmp/ansible-ssh-%%h-%%p-%%r
ssh_args = -o ControlMaster=auto -o ControlPersist=120
